@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Norms Pro', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

body{
    background-image: linear-gradient(to right top, #80c7f3, #8fd9e1, #bce5d3, #e6eeda, #fef9f2);
}

/*********************** HEADER *****************/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: rgba(49, 74, 99, 0.7);
    margin: 8px;
    transition: 0.3s;
}

header ul{
    position: relative;
    display: flex;
    background-color: rgba(64, 99, 134, 0.70);
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #1e3551;
    text-decoration: none;
}

header ul li a:hover{
    color: rgb(196, 233, 221);
}

/*********************** GERAL *****************/

section{
    padding: 100px;
}

body{
    background-image: linear-gradient(to right top, #80c7f3, #8fd9e1, #bce5d3, #e6eeda, #fef9f2);
}

/*********************** HOME *****************/
.home
{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home img{
    width: 200px;
    margin-bottom: 5px;
}

.home h1{
    text-transform: uppercase;
    color: #243148;
    font-weight: 400;
    font-size: 5em;
    text-align: center;
    margin: 5px;
}

.home span{
    font-weight: 600;
}

.home h3{
    color: #243148;
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    margin-top: -15px;
}

@keyframes slide-bottom{0%{transform:translateY(0)}100%{transform:translateY(15px)}}

.btn{
    animation: slide-bottom 2s ease-in-out infinite alternate 0.5s both;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition-duration: 1s;
    
    background-color: #375C80;
    color: #bce5d3;
    font-family: 'TT Norms Pro';
    font-weight: 400;
    font-size: 18px;
    text-align: center;

    border: none;
    border-radius: 40px;
    padding: 10px 80px;
    margin-top: 10px;
    cursor: pointer;
}

/*********************** SOBRE *****************/

.heading h4{ 
    text-transform: initial;
    color: #243148;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    letter-spacing: -0.02em;
}

.heading h2{
    text-transform: uppercase;
    color: #243148;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    margin-top: -12px;
    letter-spacing: -0.02em;
}

.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentBx{
    padding: 0 10px;
}

.contentBx p{
    color: #243148;
    font-family: 'TT Norms Pro';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.sobre-mim img{
    width: 80%;
    margin-bottom: 100px;
}

/*********************** SKILLS *****************/
.tecnologias{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: -100px;
}

.tecnologias .content{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap ;
}

.card img{
    width: 130px;
}

.card{
    background: rgba(54,91,127,0.3);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: none;

    padding: 10px 20px;
    border-radius: 25px;

    text-align: center;
    font-weight: 600;
    font-style: italic;
}

.card:hover{
    background: rgba(33, 102, 80, 0.3);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition: ease 0.4s;
}

hr{
    margin-top: 40px;
    width: 60%;
    border-radius: 50px;
    border: none;
    height: 2px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, transparent, #243148, transparent);  
}

/*********************** PROJETOS *****************/
.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projetos .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projetos .content .casos{
    width: 30%;
    padding: 15px 5px 15px 5px;
    text-align: center;
    color: #1a2333;
}

.projetos .content .casos img{
    max-width: 100%;
    border-radius: 10px; /*100%*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.casos img:hover{
transition: ease 0.5s;
   transform: scale(1.01);
}

/*********************** CONTATO *****************/
.contato{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.redes-sociais ul{
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-top: 50px;
}

.redes-sociais ul li{
    position: relative;
    list-style: none;
    box-sizing: inherit;
}


.redes-sociais ul li a{
    position: relative;
    display: block;
    margin: 0 20px;
    color: #243148;
    text-decoration: none;
    text-align: center;
}

.redes-sociais ul li a:hover{
    top:-2px;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition-duration: 0.2s;
}

.contato p{
    color: #243148;
    font-family: 'TT Norms Pro';
    font-weight: 400;
    font-size: 20px;
    text-align: center;

    margin: 20px 0;
}

/*********FOOTER**************/
footer{
    background-color: rgba(64, 99, 134, 0.70);
    color: #152333;
    text-align: center;
    padding: 20px;
}

/********* RESPONSIVIDADE **************/

@media screen and (max-width: 768px){

    body{
        overflow-x: hidden;
    }

    /*********************** HEADER *****************/
    .menu{
        position: absolute;
        top: 10vh;
        right: 0;
        width: 50vw;
        height: 80vh;
        background: rgba(44, 78, 112, 0.788);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 15px;
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out ;
    }

    .menu a{
        color: #bce5d3;
    }

    .menu li{
        opacity: 0;
    }

    header{
        padding: 25px ;
        flex-direction: row;
        justify-content: flex-end;
    }

    .mobile-menu{
        display: block;
    }

    .menu.active{
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu.active .line1{
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    .mobile-menu.active .line2{
        opacity: 0;
    }
    .mobile-menu.active .line3{
        transform: rotate(45deg) translate(-5px, -7px);
    }

    /*********************** HOME *****************/
    .home img{
        width: 50%;
        margin-bottom: 5px;
    }

    .home h1{
        font-size: 3.5em;
    }

    .home h3{
        font-size: 1.5em;
    }

    /*********************** SOBRE *****************/
    .heading{
        width: 100%;
    }

    .heading h4{ 
        font-size: 2em;
    }

    .heading h2{
        font-size: 3em;
    }

    .sobre-mim{
        padding: 0 25px;
    }

    .content{
        width: 100%;
        justify-content: space-evenly;
    }

    .contentBx{
        padding: 0 1px;
    }

    .contentBx p{
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .sobre-mim img{
        width: 100%;
        margin-bottom: 100px;
    }
    
    /*********************** SKILLS *****************/
    .tecnologias{
        padding: 70px 20px;
        margin-top: -70px;
    }

    .tecnologias .content{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .card img{
        width: 150px;
    }

    hr{
        margin-top: 70px;
        width: 100%; 
    }

    /*********************** PROJETOS *****************/

    .projetos .content{
        display: flex;
        flex-direction: column;
    }

    .projetos .content .casos{
        width: 100%;
        padding: 5px 5px 25px 5px;
        text-align: center;
        color: #1a2333;
        font-size: 1.3em;
    }

    .projetos .content .casos img{
        max-width: 100%;
        border-radius: 10px; /*100%*/
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
    }

    /*********************** CONTATO *****************/
    .contato{
        height: 50%;
        margin-top: -100px;
    }
}

/* **************************************************************** */
@media screen and (max-width: 600px){
    .home img{
        width: 50%;
        margin-bottom: 5px;
    }

    .home{
        padding: 0;
    }

    .home h1{
        font-size: 2em;
        padding: 0;
    }

    .home h3{
        font-size: 1em;
    }

    .btn{
        font-size: 1em;
        border-radius: 40px;
        padding: 10px 50px;

    }

    /*********************** SOBRE *****************/
    .sobre-mim{
        padding: 25px 25px;
    }

    .contentBx p{
        font-size: 1em;
        margin-bottom: 20px;
    }
    
    /*********************** SKILLS *****************/
    .tecnologias{
        padding: 70px 20px;
        margin-top: -70px;
    }

    .tecnologias .content{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .card img{
        width: 100px;
    }

    hr{
        margin-top: 70px;
        width: 100%; 
    }

    /*********************** PROJETOS *****************/

    .projetos{
        padding: 10px;
        margin-bottom: 90px;
        /* border-bottom: 0.1px solid; */
    }
 
    .projetos .content .casos{
        width: 100%;
        padding: 5px 5px 25px 5px;
        text-align: center;
        color: #1a2333;
        font-size: 1.3em;
    }

    .projetos .content .casos img{
        max-width: 100%;
        border-radius: 10px; /*100%*/
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
    }

    /*********************** CONTATO *****************/
    .contato{
        margin-top: 10px;
        padding: 10px;
        height: 50%;
        margin-top: -100px;
    }
}

/* ANIMAÇÕES */

.js-scroll{
    opacity: 0;
    transform: translate3d(0, 20px, 0); 
    transition: .5s;
}

.js-scroll.ativo{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}